.text{
    font-Size:1.7rem;
    text-Align:center;
    margin-Top:10vh;
    margin-Bottom:auto;
    color:rgb(255, 255, 255);
    text-Shadow: #474747 1px 2px;
    pointer-events: none;
    /* text-Shadow: 2px 2px 3px rgba(255,255,255,0.1); */
}
.air{
    height: 60vh;
    margin-top: 10vh;
}
.work{
    margin-top: 20vh;
}