.main{
    transition: all ease .1s;
    margin-bottom: 20px;
    margin-left: 10vh;
    margin-top: 1vh;
    background-color: whitesmoke;
    width: 800px;
    border: solid 3px silver;
    cursor: pointer !important;
}
    .main:hover{
        outline: rgb(108, 243, 153) 3px solid;
    }   

.main_block{
    background-color: white;
    width: 100%;
    height: 400px;
}
    .main_btn{
        width: 100%;
        position: relative;
        height: 2rem;
        background-color: #ffc354;
        transition: all ease 1s;
    }
    .main_btn:hover{
        color: white;    
        background-color: #f3a310; 
    }
.time{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
    .time_block{
        width:30%; 
        text-align:center;
        display: flex;
    }
    .time_duration{
        width: 20%;
        text-align: center;
        background-color: turquoise;
    }
    .time_block>div{
        width: 50%;
    }
    .time_block>div>span{
        color:rgb(42, 152, 255);
    }
    
.price{
    color: rgb(9, 255, 0);
    font-size: larger;
    width: 98vh;
    text-align: end;
}
.passenger{ 
    color: white;
    font-size: small;
    width: 98vh;
    text-align: end;
}
hr{
    background-color: black;
}
.route{
    text-align:center;
    margin-bottom:10px;
    margin-top:10px
}
.transfer{
    text-align:center;
    color:#FAA342;
    font-size:.9rem;
    position: relative;
    margin-top: 15px;
}
    .transfer:before{
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: rgb(110, 110, 110);
        position: absolute;
        left: 0;
        top: 50%;
    }
    .transfer::after{
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: rgb(110, 110, 110);
        position: absolute;
        right: 0;
        top: 50%;
    }
.carrier{
    margin-left: 5vh;
}
.footer{
    height: 60px;
    width: 100%;
    background-color: rgb(13, 122, 195);
}
p {
    margin: 0;
}