
.time{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
    .time_block{
        width:30%; 
        text-align:center;
        display: flex;
    }
    .time_duration{
        width: 20%;
        text-align: center;
        background-color: turquoise;
    }
    .time_block>div{
        width: 50%;
    }
    .time_block>div>span{
        color:rgb(42, 152, 255);
    }    
.price{
    color: rgb(9, 255, 0);
    text-align: end;
    margin-right: 1vh;
}
.passenger{ 
    color: white;
    font-size: small;
    text-align: end;
    margin-right: 1vh;
}
.route{
    text-align:center;
    margin-bottom:10px;
    margin-top:10px
}
.transfer{
    text-align:center;
    color:#FAA342;
    font-size:.9rem;
    margin-top: 2%;
}

.footerTicket{
    height: 60px;
    width: 100%;
    background-color: #343a40;
}
p {
    margin: 0;
}

.main_btn{
    margin-top: 1vh;
    width: 100%;
    height: 2rem;
    background-color: #ffc354;
    transition: all ease 1s;
}
.main_btn:hover{
    color: white;    
    background-color: #f3a310; 
}   
.carrier{
    text-align: center;
    margin-top: 2vh;
}
.spanTicket{
    color: blue !important;
}
.ticketHr{
    background-color: rgb(128, 133, 132);
    padding: .03%;
}

@media (max-width:1125px){
    .ticket{
        margin-left: 38% !important;
        width: 62% !important;
    }
}

@media (max-width:930px){
    .ticket{
        width: 90% !important ;
        margin-top: 2vh !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
@media (max-width:768px){
    .route{
        margin-bottom: 0;
        margin-top: 0;
    }
    .price{
        text-align: center;
    }
    .passenger{
        text-align: center;
        margin-left: 0vh;
    }
    .transfer:before{
        display: none;
    }
    .transfer::after{
        display: none;
    }
}
@media (max-width:650px){
    .ticket{
        margin-top: 1vh ;
        width: 100% ;
    }
    .time_block {
        display: none
    }
    .passenger, .price{
        margin: 0;
    }
    .footerTicket{
        height: auto;
    }
    .transfer{
        margin: 0;
        background-color: rgb(190, 187, 180);
        color: black;
    }
    .carrier{
        margin: 0;
    }
    .main_btn{
        margin-top: 0;
        height: auto;
        padding: 0;
    }
    .spanTicket{
        display: none;
    }
    .time>div{
        width: 100%;
    }

}
@media (max-width:425px){
    .ticket{
        margin-top: 1vh !important ;
        width: 100% !important ;
    }

}
@media (max-width:350px){
    .ticket{
        margin-top: 1vh !important ;
        width: 100%  !important;
    }

}
