.radio{
  display: flex;
  flex-direction: row;
}
.radio_container{
  background-color: rgba(63, 223, 251, 0.513);
  display: inline-block;
  height: max-content;
  width: 20%;
}
.radio_block{
  margin-top: .5rem;
  margin-left: 3.8rem;
  padding-top: .2rem;
}
.radio_block label{
  margin-top: 5px;
}
.flightsList{
  width: 50%;
}