.navBar{
    background-color: #343a40;
    height: 7.5vh;
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    
}
.NavLink{
    transition: all ease .6s;
}
.button{
    transition: color ease .6s;
    color: white;
}
.button:hover{
    color:  rgb(128, 227, 240) !important;
}
.active{
    color: rgb(127, 232, 246);
}
.navUl{
    width: 15%;
    display:flex;
    justify-content:space-between;
    margin-left:10px;
    min-width: 200px;
    max-width: 200px;
}
@media (max-width:425px){
    .navBar{
        justify-content: center;
    }
}