.navbar{
    background-color: rgb(59, 226, 255) !important;
    height: 45px;
    cursor: pointer;
    background: transparent;
}
.nav-link{
    transition: all ease-in .1s
}
.nav-link:hover{
    color: wheat !important;
}
button{
    border: none;
    background: none;
}
button:focus{
    outline: none;
}