.navBar{
    background-color: #343a40;
    height: 7.5vh;
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    
}
.NavLink{
    transition: all ease .6s;
}
.button{
    transition: color ease .6s;
    color: white;
    padding: 2%;
    margin-left: 5%;
}
.button:hover{
    color:  rgb(128, 227, 240) !important;
}
.active{
    color: rgb(127, 232, 246);
    text-decoration: underline;
}