.radio{
  display: flex;
  flex-direction: row;
}
.radio_container{
  background-color: rgb(255, 255, 255);
  display: inline-block;
  height: max-content;
}
.radio_block{
  margin-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.radio_block label{
  margin-top: 5px;
}
.input{
  float: right;
}
.flightsList{
  width: 50%;
}