.error{
    color: red !important;
    text-align: center;
    margin-top: 35vh;
    font-size: 2.5rem;
    transition: all ease .3s;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%, solid, #000;
    padding: 1%;
    background: rgb(78, 78, 78);
}
.error:hover{
    outline: turquoise 2px solid;
    color: whitesmoke !important;
    margin-top: 32vh;
}