.main{
    margin: 0 auto;
    width: 45%;
    height: 700px;
}
.main_footer{
    height: 3rem;
    width: 100%;
    background-color: rgb(13, 122, 195);
}
p {
    margin: 0;
}
.main_block{
    background-color: white;
    width: 100%;
    height: 400px;
}
.main_btn{
    width: 100%;
    position: relative;
    height: 2rem;
    background-color: #ffc354;
    transition: all ease 1s;
}
.main_btn:hover{
    color: white;    
    background-color: #f3a310;
}
.main_footer_left_text{
    display:'flex';
    margin-left:'10px';
    font-size:'10px';
}
.main_footer_right_text{
    font-size: small;
    color: white;
    margin-top: 1.5rem;
    float: right;
    margin-right: 1rem;
}