.radio{
    display: flex;
    flex-direction: row;
  }
  .radio_container{
    background-color: #343a40;
    display: inline-block;
    width: 20%;
    color: white;
    padding-bottom: 2vh;
    min-width: 275px;
  }
  .radio_block{
    margin-top: .5rem;
    margin-left: 3.8rem;
    padding-top: .2rem;
  }
  .radio_block label{
    margin-top: 5px;
  }

  @media (max-width:425px){
    .radio_container{
      width: 100%;
    }
    .radio_block{
      margin-top: .5rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }