.ticket{
    width: 50%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    border: solid 3px silver;
    background-color: whitesmoke;
    transition: all ease .1s;
    cursor: pointer;
    position: static;
}
.ticket:hover{
    outline: turquoise 3px solid;
}


