.ticket{
    width: 50%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    border: solid 3px silver;
    background-color: whitesmoke;
    transition: all ease .1s;
    cursor: pointer;
}
.ticket:hover{
    outline: turquoise 3px solid;
}

@media (max-width:911px){
    .ticket{
        width: 90% !important;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto !important;
    }
}
@media (max-width:1125px){
    .ticket{
        margin-right: 0;
        width: 62%;
    }
}