.img{
    width: 30px;
    height: 30px;
    transition: all ease .3s;
}
.a:hover{
    transform: scale(1.3);
    border-bottom: greenyellow solid 1px;
}
.footer{
    height:7.5vh;
    background-Color:#343a40;
    position: bottom,
}