.img{
    width: 30px;
    height: 30px;
    transition: all ease .3s;
}
.a:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
.footer{
    height:7.5vh;
    background-Color:#343a40;
    position: bottom,
}