
@mixin sexy-border() {
    border-bottom: {
      color: rgb(71, 249, 255);
      width: 2.5px;
      style: solid;
    }
  }

.img{
    width: 30px;
    height: 30px;
    transition: all ease .3s;
}
.a:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
.footer{
    @include sexy-border;
    height:7.5vh;
    background-Color:#343a40;
    position: bottom,
}

