.container{
  width: 300px;
  height: 700px;
  background-color: rgb(231, 230, 230);
  position: absolute;
  
  
}
.radio_container{
  background-color: rgb(255, 255, 255);
  margin-top: 3em;


}
.radio_block{
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}